body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    /*font-size: 32px; */
    font-size: 100%; /* 100%: 16px */
    text-align: center;
    background-color: #eeeeee;
}
h1 {
    font-family: 'Give You Glory', cursive;
    /*font-size: 90px; */
    width: 50%;
    margin: 0 auto;
    font-size: 5.625rem;
    color: #10375c;
}
p {
    font-family: 'Nunito', sans-serif;
    color: #ea907a;
}